.header {
  background-color: $bg-color;
  height: 100px;

  &-search {
    position: relative;

    & input {
      border-radius: 12px;
      background-color: $primary;
      color: $light;
      width: 245px;
      padding-left: 38px;
      border: none;
      font-size: 0.8rem;
      height: 35px;
      font-weight: 400;

      &:focus {
        box-shadow: none;
        border: none;
        background-color: $primary;
        color: $light;
      }
    }

    .hashtag-icon {
      position: absolute;
      top: 8px;
      left: 12px;
      color: $light;
    }
  }

  &-nav {
    max-height: 38px;
  }

  &-btn {
    color: $light !important;
    transition: all 0.3s;
    border-radius: 50rem;
    & span {
      display: none;
    }
    &:hover {
      color: $white !important;
    }
    &.active {
      color: $blue !important;
      background-color: $white !important;

      & span {
        display: inline-block;
      }
    }
  }
  &-notifications {
    transition: all 0.3s;
    &:hover {
      color: $white !important;
    }
    &.active {
      color: $blue !important;
    }
  }

  &-profile {
    & > a {
      display: flex;
    }
  }

  .dropdown-toggle::after {
    margin: auto 0.8rem;
    font-size: 1.6rem;
    vertical-align: 0;
  }
}
