//Colors map
$primary: #1b2730;
$secondary: #28343e;
$light: #c7d6e5;
$dark: #28353e;
$blue: #1d9eee;
$bg-color: #06141d;
$white: #f5fdff;

//Global
$body-bg: $bg-color;

//Font
$font-family-sans-serif: 'Montserrat', sans-serif;

$text-light: $light;
$text-blue: $blue;

//Button
$btn-active-border-shade-amount: 0;
$btn-active-border-tint-amount: 0;
